# Data Analysis

## Set up

In [1]:
import pandas as pd
import json
import glob
import os

METADATA_FILEPATH = 'dataset/metadata.json'
ARTICLES_FILEPATH = 'dataset/articles'

## Load metadata

In [2]:
with open(METADATA_FILEPATH, 'r') as f:
    claims = json.load(f)

In [3]:
claims_df = pd.DataFrame(claims)

In [4]:
# Print first 10 rows for sanity check
claims_df.head(10)

,claim,claimant,date,label,related_articles,id
0,A line from George Orwell's novel 1984 predict...,,2017-07-17,0,"[122094, 122580, 130685, 134765]",0
1,Maine legislature candidate Leslie Gibson insu...,,2018-03-17,2,"[106868, 127320, 128060]",1
2,A 17-year-old girl named Alyssa Carson is bein...,,2018-07-18,1,"[132130, 132132, 149722]",4
3,In 1988 author Roald Dahl penned an open lette...,,2019-02-04,2,"[123254, 123418, 127464]",5
4,"When it comes to fighting terrorism, ""Another ...",Hillary Clinton,2016-03-22,2,"[41099, 89899, 72543, 82644, 95344, 88361]",6
5,"Rhode Island is ""almost dead last"" among North...",Leonidas Raptakis,2014-02-11,2,"[8284, 3768, 20091, 82368, 73148, 4493]",7
6,The poorest counties in the U.S. are in Appala...,Jim Webb,2014-11-19,1,"[70709, 70708]",8
7,Koch Industries paid the legal fees of George ...,,2013-07-18,0,"[120591, 120592, 127866, 129483]",9
8,"""Minnesota, Michigan, Iowa already have 70 mph...",Robin Vos,2013-08-22,1,"[69547, 80095, 7994, 81116, 77621]",11
9,"""FBI Uniform Crime Report for 2016 shows more ...",Nick Schroer,2017-10-17,1,"[72012, 26005, 43481, 55671]",12

In [5]:
false_claims = claims_df.loc[claims_df['label'] == 0]
false_claims

,claim,claimant,date,label,related_articles,id
0,A line from George Orwell's novel 1984 predict...,,2017-07-17,0,"[122094, 122580, 130685, 134765]",0
7,Koch Industries paid the legal fees of George ...,,2013-07-18,0,"[120591, 120592, 127866, 129483]",9
10,"""Pelosi Sinks to New Low, Tells Dems: If You ...",Western Journal,2018-08-21,0,"[27062, 27061, 20679, 61872, 20677]",13
13,NASA Has Just Confirmed Earth Has A New Moon,Bloggers,2018-03-29,0,"[91455, 72179, 18903, 42080]",17
15,"""Justin Amash is rated Michigan’s No. 1 conser...",Justin Amash,2014-07-01,0,"[22383, 72467, 72466, 86512, 73422, 83732, 83730]",19
...,...,...,...,...,...,...
15542,"""The average premium across this country has ...",Mike Pence,2017-05-25,0,"[32457, 7958]",17129
15547,"""I haven’t really proposed (phasing out aid to...",Rand Paul,2014-08-04,0,"[88399, 91476, 11371, 91483, 7021]",17134
15549,"""They (Clinton and Obama) have never to my kno...",John McCain,2008-05-13,0,"[67611, 67699, 67610, 82239, 86166, 3653, 7112...",17136
15551,Representative Maxine Waters said Muslims were...,,2017-06-06,0,"[103780, 104726, 126025]",17138
15552,"""We were not, I repeat, were not told that wat...",Nancy Pelosi,2009-04-23,0,"[11331, 68915, 2186, 2185, 88418, 81950]",17139

In [6]:
part_true_claims = claims_df.loc[claims_df['label'] == 1]
part_true_claims

,claim,claimant,date,label,related_articles,id
2,A 17-year-old girl named Alyssa Carson is bein...,,2018-07-18,1,"[132130, 132132, 149722]",4
6,The poorest counties in the U.S. are in Appala...,Jim Webb,2014-11-19,1,"[70709, 70708]",8
8,"""Minnesota, Michigan, Iowa already have 70 mph...",Robin Vos,2013-08-22,1,"[69547, 80095, 7994, 81116, 77621]",11
9,"""FBI Uniform Crime Report for 2016 shows more ...",Nick Schroer,2017-10-17,1,"[72012, 26005, 43481, 55671]",12
11,Socialist teachers at South Charlotte Middle S...,,2018-10-17,1,"[104287, 144516]",14
...,...,...,...,...,...,...
15535,"Says Rep. Martha McSally ""is a #FlipFlopBorder...",Kelli Ward,2018-03-16,1,"[67183, 20180, 41193, 28711, 20181, 34090, 201...",17122
15543,"At an Arizona town hall event, Sen. Jeff Flake...",,2017-04-17,1,"[143451, 145474]",17130
15546,President Obama signed a law permanently prote...,,2017-01-09,1,"[107369, 122972, 147969, 38987, 151939]",17133
15548,"Says Aaron Rodgers ""is not the highest tax rat...",Paul Ryan,2017-08-21,1,"[53671, 30934, 94982, 30953, 30949]",17135
15554,"""We don't get any of that information"" from th...",Scott Walker,2016-12-23,1,"[69545, 88929, 14698]",17141

In [7]:
true_claims = claims_df.loc[claims_df['label'] == 2]
true_claims

,claim,claimant,date,label,related_articles,id
1,Maine legislature candidate Leslie Gibson insu...,,2018-03-17,2,"[106868, 127320, 128060]",1
3,In 1988 author Roald Dahl penned an open lette...,,2019-02-04,2,"[123254, 123418, 127464]",5
4,"When it comes to fighting terrorism, ""Another ...",Hillary Clinton,2016-03-22,2,"[41099, 89899, 72543, 82644, 95344, 88361]",6
5,"Rhode Island is ""almost dead last"" among North...",Leonidas Raptakis,2014-02-11,2,"[8284, 3768, 20091, 82368, 73148, 4493]",7
14,"""We are always going to need architects, docto...",Mike Parson,2019-01-24,2,"[42685, 32007, 33562]",18
...,...,...,...,...,...,...
15539,A photograph shows a musher riding over snowle...,,2017-11-06,2,"[108255, 109040, 110398, 114040, 114042, 11410...",17126
15544,"A photograph shows Donald Trump, Muhammad Ali,...",,2018-08-13,2,"[118938, 125644, 127592]",17131
15545,A photograph shows a man mowing his lawn durin...,,2017-06-05,2,"[107244, 115705, 142189]",17132
15550,"The omnibus spending bill has ""9,427 pork barr...",John McCain,2009-02-25,2,"[82947, 93503]",17137
15553,"As of August 2017, members of the public could...",,2018-05-14,2,"[121353, 152864, 154411]",17140

## Simple statistics

In [8]:
num_claims = len(claims_df.index)
print("Total number of claims:\t\t\t", num_claims)

num_false_claims = len(false_claims.index)
print("\nNumber of false claims:\t\t\t", num_false_claims)

num_part_true_claims = len(part_true_claims.index)
print("Number of partially true claims:\t", num_part_true_claims)

num_true_claims = len(true_claims.index)
print("Number of false claims:\t\t\t", num_true_claims)

percent_false = num_false_claims / num_claims
percent_part_true = num_part_true_claims / num_claims
percent_true = num_true_claims / num_claims

print("\nPercentage of false claims:\t\t", "{0:.2%}".format(percent_false))
print("Percentage of partially true claims:\t", "{0:.2%}".format(percent_part_true))
print("Percentage of true claims:\t\t", "{0:.2%}".format(percent_true))

Total number of claims:			 15555

Number of false claims:			 7408
Number of partially true claims:	 6451
Number of false claims:			 1696

Percentage of false claims:		 47.62%
Percentage of partially true claims:	 41.47%
Percentage of true claims:		 10.90%

## Load article data

In [9]:
articles = []

for file in glob.glob(os.path.join(ARTICLES_FILEPATH, '*.txt')):
    with open(file) as f:
        body = " ".join(line for line in f)
    
    base = os.path.basename(file)
    file_name = os.path.splitext(base)[0]
    
    article = (os.path.basename(file_name), body)
    articles.append(article)

In [10]:
articles_df = pd.DataFrame(articles)
articles_df.columns = ['article_id', 'article']

In [11]:
articles_df

      article_id                                            article
0          60583  These Republicans are misleading voters about ...
1         120801  They sued for Clinton's emails. Now they want ...
2          66570  Heritage's Fun With 'Defund Obamacare' Polling...
3         123469  Size of U.S. Unauthoriized Immigrant Workforce...
4          13133  Border Crossing/Entry Data\n Hide Coverage, Av...
...          ...                                                ...
64969      93026  Florida legislators hope to fix nuclear advanc...
64970       9904  A Chart Is Worth 1,000 Words\n Todd Harrison, ...
64971      87442  Prison plan assailed as 'sneaky,' misleading\n...
64972      59427  Updated: Do Russia probe attorneys’ donations ...
64973     112967  Clinton Campaign Volunteer Out Over False Obam...

[64974 rows x 2 columns]

# Related Articles

In [12]:
related_articles = []

for index, row in claims_df.iterrows():
    for article in row['related_articles']:
        related_articles.append((article, row['id'], row['label']))

In [13]:
related_articles_df = pd.DataFrame(related_articles)
related_articles_df.columns = ['article_id', 'claim_id', 'label']
related_articles_df

       article_id  claim_id  label
0          122094         0      0
1          122580         0      0
2          130685         0      0
3          134765         0      0
4          106868         1      2
...           ...       ...    ...
77675      152864     17140      2
77676      154411     17140      2
77677       69545     17141      1
77678       88929     17141      1
77679       14698     17141      1

[77680 rows x 3 columns]

In [14]:
# Associate each article with the labels of the claims that reference it

article_claim_labels = related_articles_df.groupby('article_id')['label'].apply(list).to_dict()
article_claim_labels

{2: [0],
 8: [0],
 15: [2],
 18: [1, 0, 1],
 19: [1],
 21: [1, 0, 1],
 22: [1, 0],
 23: [1, 0, 1],
 31: [0],
 32: [0],
 33: [0],
 34: [0],
 35: [1],
 39: [1],
 40: [1],
 41: [1],
 42: [0],
 43: [0, 0],
 50: [1],
 51: [0],
 57: [1],
 61: [1],
 66: [0],
 67: [0],
 68: [1],
 70: [0],
 73: [0],
 82: [1, 2],
 84: [1],
 88: [0],
 89: [2],
 90: [0, 0, 0, 0, 0, 0, 0],
 91: [0],
 92: [0],
 93: [1],
 94: [2],
 95: [0],
 97: [1, 0],
 98: [0],
 100: [1, 1],
 101: [0],
 105: [1],
 111: [0],
 114: [0],
 117: [0],
 119: [1],
 120: [1],
 121: [1],
 122: [0],
 123: [1],
 124: [1],
 125: [2, 0],
 126: [2],
 127: [0],
 129: [1],
 131: [0],
 132: [1],
 133: [1],
 134: [0],
 137: [1, 1],
 138: [1],
 142: [1],
 144: [1],
 145: [1, 1],
 146: [1],
 147: [1],
 148: [1],
 149: [1],
 151: [0],
 152: [1, 0],
 153: [1],
 154: [0],
 155: [1],
 156: [1],
 157: [1],
 158: [0, 1],
 159: [1],
 160: [1],
 161: [0],
 162: [1],
 163: [0],
 164: [0],
 167: [1, 1],
 168: [0],
 170: [2],
 171: [1, 0, 1, 0, 0],
 172: [0],
 173: [0],
 174: [0],
 175: [0, 0],
 176: [1],
 177: [0],
 178: [1],
 179: [0],
 180: [1],
 181: [0, 0],
 182: [1],
 183: [1],
 184: [1],
 185: [0, 0, 0, 0],
 186: [1],
 187: [1],
 190: [0],
 192: [0],
 200: [0],
 201: [2],
 202: [2],
 203: [0],
 204: [1],
 205: [1],
 206: [0],
 210: [2],
 211: [2],
 212: [1, 0],
 213: [1],
 214: [1],
 215: [0],
 216: [1],
 217: [0],
 219: [1],
 220: [1],
 221: [1],
 223: [0, 0],
 224: [0],
 225: [2],
 226: [1],
 228: [1],
 229: [2],
 230: [0],
 233: [2],
 234: [1, 1, 1],
 237: [2],
 239: [1],
 240: [0, 0, 1],
 241: [2],
 242: [0],
 243: [0],
 244: [1],
 245: [0],
 246: [1, 1],
 248: [2],
 249: [0],
 250: [1],
 254: [2],
 256: [0],
 257: [2],
 258: [0],
 259: [1, 0, 0, 0],
 263: [0],
 264: [0],
 265: [1],
 266: [0],
 268: [0],
 269: [1],
 270: [0, 0],
 272: [1],
 274: [0],
 275: [0],
 276: [1],
 277: [1, 1, 1],
 278: [1],
 279: [0],
 280: [0],
 282: [0],
 283: [2],
 284: [0],
 286: [1, 1],
 288: [1],
 289: [0],
 291: [0],
 292: [1],
 293: [0],
 294: [0],
 295: [0],
 296: [1],
 297: [1],
 299: [0],
 301: [0],
 302: [2],
 303: [0, 0],
 305: [0],
 306: [1],
 307: [1],
 308: [2],
 309: [1],
 310: [1],
 311: [1],
 314: [0],
 315: [1],
 316: [0],
 317: [1],
 318: [1],
 319: [0],
 321: [1],
 322: [0, 0],
 323: [0, 0, 0, 0, 0, 0, 0, 0],
 324: [0, 0, 0, 0, 1],
 325: [1],
 328: [1],
 329: [0],
 330: [0],
 331: [0, 0],
 333: [0],
 343: [0],
 344: [1],
 345: [1],
 346: [1],
 347: [0],
 348: [0, 1],
 350: [1],
 351: [1],
 352: [0, 0, 1, 0, 0],
 353: [0],
 355: [0, 0],
 356: [0, 0, 0],
 358: [0],
 359: [1],
 361: [0],
 362: [1, 0],
 363: [0, 0],
 364: [1],
 365: [0],
 366: [1],
 367: [1],
 368: [0],
 369: [1],
 370: [0],
 371: [1],
 372: [0],
 373: [1, 2],
 374: [1, 0],
 375: [0],
 376: [0, 1, 1],
 377: [0, 0, 0, 0],
 378: [0, 0, 0, 0, 0, 0],
 381: [1],
 382: [0, 0, 0],
 383: [0],
 384: [2],
 385: [0],
 386: [1],
 387: [1],
 388: [1],
 389: [1],
 390: [1, 1],
 391: [2],
 392: [0, 0, 0, 0, 0],
 393: [1],
 394: [1],
 395: [2],
 396: [1],
 398: [0],
 399: [0],
 400: [1],
 401: [1],
 402: [1],
 403: [0],
 404: [0],
 405: [1],
 407: [1],
 408: [0],
 409: [1],
 410: [0],
 411: [1],
 412: [1],
 413: [2],
 414: [0],
 416: [1],
 418: [0],
 419: [1],
 420: [0, 0],
 421: [1],
 422: [0],
 424: [2],
 425: [0],
 426: [1],
 427: [0, 0, 0],
 428: [1],
 430: [1],
 432: [1],
 433: [1],
 435: [1],
 437: [0],
 438: [1],
 461: [0],
 462: [1],
 464: [1],
 466: [1],
 467: [1],
 474: [1],
 477: [1],
 483: [1],
 484: [0],
 486: [2],
 487: [1],
 488: [0],
 489: [1],
 490: [1, 2, 1],
 494: [0],
 495: [1],
 496: [1],
 497: [2],
 499: [1, 1],
 501: [1],
 503: [1],
 505: [1],
 506: [1],
 509: [1, 1],
 510: [1],
 511: [1],
 513: [0],
 516: [0],
 517: [1],
 518: [0, 1],
 521: [1],
 522: [1],
 530: [0],
 532: [1],
 534: [0],
 535: [0],
 536: [0],
 537: [0],
 538: [1, 1],
 539: [2],
 540: [1],
 541: [1],
 542: [0],
 543: [0],
 544: [0],
 545: [1],
 546: [0],
 548: [1],
 549: [1],
 550: [0],
 551: [2, 1],
 552: [1],
 554: [0],
 555: [2],
 557: [0],
 558: [1, 1],
 559: [0],
 560: [0, 0],
 562: [1, 1],
 563: [1],
 564: [1],
 574: [2],
 577: [2],
 582: [0],
 588: [1],
 591: [1],
 592: [0],
 594: [1, 1],
 596: [1],
 597: [1],
 598: [1],
 599: [0],
 600: [1],
 601: [1, 1],
 602: [0],
 604: [0],
 605: [1],
 606: [0],
 607: [1],
 608: [1],
 609: [1, 1, 1, 1, 1, 1, 1],
 610: [1, 1, 1, 1],
 611: [1],
 618: [0],
 619: [1],
 620: [0],
 624: [0],
 625: [1],
 626: [1],
 627: [0],
 629: [0],
 630: [0],
 631: [1],
 633: [1],
 637: [1],
 640: [0],
 641: [1],
 642: [2],
 643: [1],
 644: [1, 2],
 645: [1],
 647: [1],
 650: [1],
 654: [1],
 656: [1],
 660: [2],
 661: [1],
 662: [2],
 668: [1],
 673: [1],
 674: [1],
 678: [1],
 679: [1],
 680: [1],
 681: [1],
 685: [1],
 686: [1],
 696: [1],
 700: [1],
 701: [1],
 702: [1],
 705: [1],
 706: [1, 2],
 710: [0],
 711: [1],
 712: [1],
 715: [1],
 716: [0],
 717: [1],
 718: [1],
 719: [1],
 720: [1],
 722: [1],
 725: [1, 0],
 726: [0],
 730: [2],
 732: [0],
 734: [0],
 735: [1],
 736: [1],
 738: [0],
 740: [2],
 742: [1],
 743: [0],
 744: [1],
 745: [0],
 746: [0],
 751: [2],
 753: [1],
 759: [0],
 760: [2],
 762: [1],
 763: [1],
 765: [1],
 766: [2],
 767: [2],
 768: [1],
 769: [1],
 770: [1],
 771: [1],
 773: [1],
 774: [0],
 775: [0],
 776: [1],
 777: [0],
 778: [0],
 779: [1],
 782: [1],
 783: [1],
 784: [1],
 786: [1],
 787: [1],
 788: [1],
 789: [0],
 791: [0],
 792: [1],
 793: [0],
 794: [0],
 795: [0],
 796: [2],
 797: [0],
 798: [0, 0, 0],
 799: [0],
 800: [0],
 801: [0],
 802: [0, 0],
 806: [1],
 807: [1, 1],
 809: [1, 1],
 812: [0, 0, 0],
 814: [0],
 815: [1],
 816: [0],
 817: [1],
 819: [1],
 820: [1],
 821: [0, 0],
 822: [1],
 823: [1],
 827: [2],
 829: [1],
 833: [1],
 834: [1],
 835: [1],
 836: [1],
 837: [1],
 838: [1],
 839: [2],
 840: [1],
 842: [0],
 844: [1],
 845: [1],
 846: [1],
 847: [1],
 849: [1],
 852: [0, 0, 0],
 863: [1],
 864: [1],
 865: [0],
 866: [1],
 867: [0],
 868: [1, 1],
 869: [1],
 870: [1],
 871: [1],
 872: [1],
 873: [0],
 874: [1],
 877: [0],
 878: [0],
 882: [0],
 885: [0],
 886: [1],
 890: [1],
 891: [1],
 894: [0],
 896: [1],
 897: [1],
 899: [2],
 901: [0],
 905: [1, 1],
 906: [0],
 907: [1],
 913: [0, 1, 1, 0],
 919: [2],
 920: [2],
 921: [1],
 922: [1],
 940: [1],
 941: [1],
 942: [0],
 943: [0],
 948: [1],
 949: [1],
 951: [1],
 953: [1],
 955: [0],
 956: [1],
 957: [1],
 960: [0, 0],
 961: [0],
 962: [0],
 965: [0],
 970: [0],
 971: [1],
 973: [0],
 974: [2],
 976: [1],
 977: [1, 1, 1],
 978: [0, 0],
 979: [1],
 980: [1],
 981: [1, 1],
 1012: [1],
 1014: [0],
 1015: [0],
 1016: [0],
 1017: [0],
 1018: [0],
 1019: [0],
 1020: [0],
 1021: [2],
 1025: [1],
 1033: [1],
 1035: [1],
 1036: [0, 0],
 1037: [1],
 1041: [0],
 1042: [1],
 1043: [0],
 1045: [0],
 1046: [2],
 1047: [1],
 1048: [1],
 1049: [0, 1],
 1053: [0],
 1054: [1],
 1061: [0],
 1062: [0],
 1063: [2],
 1067: [2],
 1069: [0, 1],
 1070: [0],
 1071: [0],
 1074: [1],
 1075: [0],
 1076: [1],
 1077: [1],
 1078: [1],
 1081: [1],
 1082: [1],
 1083: [0],
 1084: [1],
 1086: [1],
 1087: [1],
 1088: [1],
 1089: [0],
 1091: [1],
 1092: [0],
 1093: [1],
 1094: [2],
 1095: [1],
 1096: [1],
 1097: [1],
 1098: [1],
 1100: [1],
 1101: [2],
 1102: [1],
 1103: [1],
 1104: [1],
 1105: [2],
 1106: [2],
 1107: [2],
 1109: [1],
 1110: [1],
 1111: [1],
 1113: [1],
 1114: [1],
 1115: [1],
 1116: [0],
 1117: [0],
 1119: [1],
 1120: [1],
 1121: [0, 1, 1],
 1122: [1],
 1123: [1],
 1124: [1],
 1125: [1],
 1126: [0],
 1127: [1],
 1129: [1],
 1130: [2],
 1131: [2],
 1133: [1],
 1140: [1, 1],
 1142: [1],
 1143: [0],
 1144: [0, 0, 0],
 1148: [1],
 1151: [1],
 1153: [1],
 1154: [2],
 1160: [1],
 1161: [1],
 1164: [1],
 1175: [0],
 1176: [0],
 1179: [1],
 1180: [1],
 1181: [0],
 1182: [1],
 1183: [1],
 1184: [0, 0, 0, 0, 0, 0],
 1185: [1],
 1186: [1],
 1188: [1],
 1189: [1],
 1190: [1],
 1191: [1],
 1192: [1],
 1193: [0],
 1194: [1],
 1195: [2],
 1197: [2],
 1198: [0],
 1199: [0],
 1200: [1],
 1201: [1],
 1202: [0, 0],
 1203: [1],
 1205: [0],
 1206: [0],
 1208: [0],
 1209: [1],
 1210: [2],
 1211: [1],
 1213: [0],
 1215: [0, 0],
 1216: [0],
 1217: [1],
 1218: [1],
 1219: [2],
 1220: [1],
 1221: [1],
 1222: [1],
 1223: [2],
 1224: [1],
 1225: [0],
 1226: [0],
 1227: [1],
 1228: [1],
 1229: [1],
 1230: [1],
 1231: [1, 1],
 1232: [0],
 1233: [1],
 1234: [0],
 1235: [2],
 1236: [0],
 1237: [1],
 1238: [1],
 1239: [0],
 1240: [0],
 1241: [1],
 1242: [1],
 1243: [1],
 1244: [0],
 1245: [2],
 1246: [0],
 1248: [0, 0, 0],
 1249: [1],
 1250: [0],
 1251: [1],
 1252: [0],
 1253: [1],
 1255: [0],
 1256: [0],
 1257: [0, 0],
 1258: [0],
 1259: [2],
 1260: [0],
 1261: [1],
 1262: [1],
 1263: [1],
 1264: [0],
 1265: [1],
 1267: [1],
 1268: [1],
 1269: [1],
 1270: [0],
 1271: [1],
 1272: [0],
 1275: [0],
 1276: [1],
 1278: [2],
 1279: [0],
 1280: [0],
 1281: [1],
 1282: [1],
 1285: [1],
 1288: [0],
 1289: [2, 2],
 1290: [1],
 1291: [1],
 1292: [0, 1, 1],
 1293: [1, 1],
 1294: [1],
 1295: [0],
 1297: [1],
 1298: [1],
 1299: [0],
 1300: [0, 0],
 1301: [0],
 1302: [2],
 1305: [1],
 1306: [1],
 1307: [1],
 1308: [1],
 1309: [1],
 1310: [1],
 1311: [1],
 1312: [1],
 1313: [1],
 1314: [1],
 1315: [1],
 1317: [1],
 1318: [0],
 1320: [0],
 1321: [1],
 1322: [1, 1, 1],
 1323: [0],
 1324: [1],
 1325: [1],
 1326: [1],
 1328: [1],
 1330: [2, 0],
 1331: [1],
 1332: [1],
 1333: [0],
 1334: [1],
 1336: [0],
 1337: [0],
 1338: [1],
 1339: [0, 0],
 1341: [1],
 1342: [0],
 1343: [1],
 1344: [1],
 1345: [1],
 1346: [0],
 1347: [1],
 1348: [2],
 1349: [0],
 1350: [1],
 1351: [0],
 1352: [1],
 1354: [0],
 1355: [1],
 1356: [1],
 1357: [1],
 1359: [2],
 1360: [2],
 1361: [2],
 1362: [0],
 1363: [0],
 1364: [0],
 1365: [0],
 1366: [1],
 1367: [1],
 1368: [2],
 1369: [1],
 1370: [2],
 1371: [2],
 1372: [1],
 1373: [2],
 1374: [0],
 1375: [1],
 1376: [1, 1],
 1377: [1],
 1378: [1],
 1379: [1],
 1380: [1],
 1381: [1],
 1382: [1],
 1383: [2],
 1384: [1],
 1385: [2],
 1386: [1, 1],
 1387: [2],
 1388: [1],
 1389: [1],
 1392: [1],
 1393: [1],
 1394: [1],
 1397: [1],
 1398: [1],
 1399: [0],
 1400: [1],
 1401: [1],
 1402: [1],
 1403: [0],
 1404: [1],
 1405: [1],
 1406: [1],
 1407: [1],
 1408: [1],
 1409: [1, 1],
 1410: [1],
 1411: [0],
 1412: [1],
 1413: [2],
 1414: [2],
 1415: [2],
 1416: [0],
 1417: [2],
 1418: [0],
 1419: [1],
 1420: [1],
 1422: [2],
 1423: [1],
 1424: [1],
 1425: [1],
 1426: [1],
 1429: [2],
 1431: [1],
 1433: [1],
 1434: [0, 0],
 1435: [1],
 1437: [1],
 1438: [1],
 1440: [2],
 1441: [0],
 1442: [2],
 1443: [2],
 1444: [2],
 1445: [1],
 1446: [1],
 1447: [1],
 1448: [0],
 1449: [2],
 1451: [2],
 1452: [1],
 1453: [1],
 1454: [1],
 1455: [1],
 1456: [1],
 1457: [1],
 1458: [1, 0],
 1459: [1],
 1460: [1],
 1461: [1],
 1462: [1],
 1463: [1],
 1464: [2],
 1465: [1],
 1466: [1],
 1467: [1],
 1468: [1],
 1469: [1],
 1470: [1],
 1471: [1],
 1472: [1, 1],
 1474: [1],
 1475: [1],
 1476: [1],
 1477: [1],
 1478: [1],
 1479: [1],
 1480: [1, 0],
 1481: [1],
 1482: [1],
 1483: [1],
 1484: [1, 1],
 1485: [1],
 1486: [0],
 1487: [1],
 1488: [2, 1],
 1489: [1],
 1490: [0],
 1491: [0],
 1492: [1],
 1493: [2],
 1495: [1],
 1496: [2],
 1497: [0],
 1498: [1, 1],
 1499: [1],
 1500: [1],
 1501: [1],
 1502: [2],
 1504: [1],
 1505: [1],
 1506: [0],
 1507: [1],
 1509: [0],
 1510: [0],
 1513: [1],
 1514: [2],
 1515: [1],
 1516: [0],
 1518: [0],
 1520: [0],
 1521: [0, 0],
 1522: [1],
 1523: [1],
 1524: [1],
 1527: [0],
 1528: [0],
 1529: [0],
 1531: [0, 1],
 1533: [1],
 1537: [1],
 1538: [2],
 1539: [0, 0, 0],
 1570: [0],
 1572: [1],
 1588: [0],
 1591: [1],
 1592: [2],
 1593: [0],
 1595: [1],
 1596: [0],
 1597: [1, 1],
 1599: [1, 1],
 1601: [0],
 1604: [1],
 1605: [1],
 1607: [0],
 1609: [2],
 1622: [0],
 1623: [1],
 1624: [0],
 1626: [1],
 1627: [1, 1],
 1628: [1, 1, 1],
 1629: [1],
 1630: [1],
 1635: [1],
 1636: [0],
 1637: [1],
 1638: [1],
 1639: [0],
 1640: [0],
 1641: [0],
 1642: [0],
 1643: [0],
 1644: [0],
 1645: [1],
 1646: [1],
 1647: [1],
 1648: [1],
 1649: [1],
 1650: [0],
 1651: [1],
 1652: [0],
 1654: [0],
 ...}

In [15]:
num_related_articles = related_articles_df.drop_duplicates(subset=['article_id'], keep='first')

print("Number of related articles in claims:", len(num_related_articles))
print("Number of labelled articles:", len(article_claim_labels))
print("Number of total articles:", len(articles_df))

Number of related articles in claims: 62980
Number of labelled articles: 62980
Number of total articles: 64974

In [16]:
# Assign the most frequent label to each article, or the lowest label value in the event of a tie

from statistics import mode

article_single_label = {}

for article_id, label in article_claim_labels.items():
    try:
        article_single_label[article_id] = mode(label)
    except:
        article_single_label[article_id] = min(label)

In [17]:
article_single_label

{2: 0,
 8: 0,
 15: 2,
 18: 1,
 19: 1,
 21: 1,
 22: 0,
 23: 1,
 31: 0,
 32: 0,
 33: 0,
 34: 0,
 35: 1,
 39: 1,
 40: 1,
 41: 1,
 42: 0,
 43: 0,
 50: 1,
 51: 0,
 57: 1,
 61: 1,
 66: 0,
 67: 0,
 68: 1,
 70: 0,
 73: 0,
 82: 1,
 84: 1,
 88: 0,
 89: 2,
 90: 0,
 91: 0,
 92: 0,
 93: 1,
 94: 2,
 95: 0,
 97: 0,
 98: 0,
 100: 1,
 101: 0,
 105: 1,
 111: 0,
 114: 0,
 117: 0,
 119: 1,
 120: 1,
 121: 1,
 122: 0,
 123: 1,
 124: 1,
 125: 0,
 126: 2,
 127: 0,
 129: 1,
 131: 0,
 132: 1,
 133: 1,
 134: 0,
 137: 1,
 138: 1,
 142: 1,
 144: 1,
 145: 1,
 146: 1,
 147: 1,
 148: 1,
 149: 1,
 151: 0,
 152: 0,
 153: 1,
 154: 0,
 155: 1,
 156: 1,
 157: 1,
 158: 0,
 159: 1,
 160: 1,
 161: 0,
 162: 1,
 163: 0,
 164: 0,
 167: 1,
 168: 0,
 170: 2,
 171: 0,
 172: 0,
 173: 0,
 174: 0,
 175: 0,
 176: 1,
 177: 0,
 178: 1,
 179: 0,
 180: 1,
 181: 0,
 182: 1,
 183: 1,
 184: 1,
 185: 0,
 186: 1,
 187: 1,
 190: 0,
 192: 0,
 200: 0,
 201: 2,
 202: 2,
 203: 0,
 204: 1,
 205: 1,
 206: 0,
 210: 2,
 211: 2,
 212: 0,
 213: 1,
 214: 1,
 215: 0,
 216: 1,
 217: 0,
 219: 1,
 220: 1,
 221: 1,
 223: 0,
 224: 0,
 225: 2,
 226: 1,
 228: 1,
 229: 2,
 230: 0,
 233: 2,
 234: 1,
 237: 2,
 239: 1,
 240: 0,
 241: 2,
 242: 0,
 243: 0,
 244: 1,
 245: 0,
 246: 1,
 248: 2,
 249: 0,
 250: 1,
 254: 2,
 256: 0,
 257: 2,
 258: 0,
 259: 0,
 263: 0,
 264: 0,
 265: 1,
 266: 0,
 268: 0,
 269: 1,
 270: 0,
 272: 1,
 274: 0,
 275: 0,
 276: 1,
 277: 1,
 278: 1,
 279: 0,
 280: 0,
 282: 0,
 283: 2,
 284: 0,
 286: 1,
 288: 1,
 289: 0,
 291: 0,
 292: 1,
 293: 0,
 294: 0,
 295: 0,
 296: 1,
 297: 1,
 299: 0,
 301: 0,
 302: 2,
 303: 0,
 305: 0,
 306: 1,
 307: 1,
 308: 2,
 309: 1,
 310: 1,
 311: 1,
 314: 0,
 315: 1,
 316: 0,
 317: 1,
 318: 1,
 319: 0,
 321: 1,
 322: 0,
 323: 0,
 324: 0,
 325: 1,
 328: 1,
 329: 0,
 330: 0,
 331: 0,
 333: 0,
 343: 0,
 344: 1,
 345: 1,
 346: 1,
 347: 0,
 348: 0,
 350: 1,
 351: 1,
 352: 0,
 353: 0,
 355: 0,
 356: 0,
 358: 0,
 359: 1,
 361: 0,
 362: 0,
 363: 0,
 364: 1,
 365: 0,
 366: 1,
 367: 1,
 368: 0,
 369: 1,
 370: 0,
 371: 1,
 372: 0,
 373: 1,
 374: 0,
 375: 0,
 376: 1,
 377: 0,
 378: 0,
 381: 1,
 382: 0,
 383: 0,
 384: 2,
 385: 0,
 386: 1,
 387: 1,
 388: 1,
 389: 1,
 390: 1,
 391: 2,
 392: 0,
 393: 1,
 394: 1,
 395: 2,
 396: 1,
 398: 0,
 399: 0,
 400: 1,
 401: 1,
 402: 1,
 403: 0,
 404: 0,
 405: 1,
 407: 1,
 408: 0,
 409: 1,
 410: 0,
 411: 1,
 412: 1,
 413: 2,
 414: 0,
 416: 1,
 418: 0,
 419: 1,
 420: 0,
 421: 1,
 422: 0,
 424: 2,
 425: 0,
 426: 1,
 427: 0,
 428: 1,
 430: 1,
 432: 1,
 433: 1,
 435: 1,
 437: 0,
 438: 1,
 461: 0,
 462: 1,
 464: 1,
 466: 1,
 467: 1,
 474: 1,
 477: 1,
 483: 1,
 484: 0,
 486: 2,
 487: 1,
 488: 0,
 489: 1,
 490: 1,
 494: 0,
 495: 1,
 496: 1,
 497: 2,
 499: 1,
 501: 1,
 503: 1,
 505: 1,
 506: 1,
 509: 1,
 510: 1,
 511: 1,
 513: 0,
 516: 0,
 517: 1,
 518: 0,
 521: 1,
 522: 1,
 530: 0,
 532: 1,
 534: 0,
 535: 0,
 536: 0,
 537: 0,
 538: 1,
 539: 2,
 540: 1,
 541: 1,
 542: 0,
 543: 0,
 544: 0,
 545: 1,
 546: 0,
 548: 1,
 549: 1,
 550: 0,
 551: 1,
 552: 1,
 554: 0,
 555: 2,
 557: 0,
 558: 1,
 559: 0,
 560: 0,
 562: 1,
 563: 1,
 564: 1,
 574: 2,
 577: 2,
 582: 0,
 588: 1,
 591: 1,
 592: 0,
 594: 1,
 596: 1,
 597: 1,
 598: 1,
 599: 0,
 600: 1,
 601: 1,
 602: 0,
 604: 0,
 605: 1,
 606: 0,
 607: 1,
 608: 1,
 609: 1,
 610: 1,
 611: 1,
 618: 0,
 619: 1,
 620: 0,
 624: 0,
 625: 1,
 626: 1,
 627: 0,
 629: 0,
 630: 0,
 631: 1,
 633: 1,
 637: 1,
 640: 0,
 641: 1,
 642: 2,
 643: 1,
 644: 1,
 645: 1,
 647: 1,
 650: 1,
 654: 1,
 656: 1,
 660: 2,
 661: 1,
 662: 2,
 668: 1,
 673: 1,
 674: 1,
 678: 1,
 679: 1,
 680: 1,
 681: 1,
 685: 1,
 686: 1,
 696: 1,
 700: 1,
 701: 1,
 702: 1,
 705: 1,
 706: 1,
 710: 0,
 711: 1,
 712: 1,
 715: 1,
 716: 0,
 717: 1,
 718: 1,
 719: 1,
 720: 1,
 722: 1,
 725: 0,
 726: 0,
 730: 2,
 732: 0,
 734: 0,
 735: 1,
 736: 1,
 738: 0,
 740: 2,
 742: 1,
 743: 0,
 744: 1,
 745: 0,
 746: 0,
 751: 2,
 753: 1,
 759: 0,
 760: 2,
 762: 1,
 763: 1,
 765: 1,
 766: 2,
 767: 2,
 768: 1,
 769: 1,
 770: 1,
 771: 1,
 773: 1,
 774: 0,
 775: 0,
 776: 1,
 777: 0,
 778: 0,
 779: 1,
 782: 1,
 783: 1,
 784: 1,
 786: 1,
 787: 1,
 788: 1,
 789: 0,
 791: 0,
 792: 1,
 793: 0,
 794: 0,
 795: 0,
 796: 2,
 797: 0,
 798: 0,
 799: 0,
 800: 0,
 801: 0,
 802: 0,
 806: 1,
 807: 1,
 809: 1,
 812: 0,
 814: 0,
 815: 1,
 816: 0,
 817: 1,
 819: 1,
 820: 1,
 821: 0,
 822: 1,
 823: 1,
 827: 2,
 829: 1,
 833: 1,
 834: 1,
 835: 1,
 836: 1,
 837: 1,
 838: 1,
 839: 2,
 840: 1,
 842: 0,
 844: 1,
 845: 1,
 846: 1,
 847: 1,
 849: 1,
 852: 0,
 863: 1,
 864: 1,
 865: 0,
 866: 1,
 867: 0,
 868: 1,
 869: 1,
 870: 1,
 871: 1,
 872: 1,
 873: 0,
 874: 1,
 877: 0,
 878: 0,
 882: 0,
 885: 0,
 886: 1,
 890: 1,
 891: 1,
 894: 0,
 896: 1,
 897: 1,
 899: 2,
 901: 0,
 905: 1,
 906: 0,
 907: 1,
 913: 0,
 919: 2,
 920: 2,
 921: 1,
 922: 1,
 940: 1,
 941: 1,
 942: 0,
 943: 0,
 948: 1,
 949: 1,
 951: 1,
 953: 1,
 955: 0,
 956: 1,
 957: 1,
 960: 0,
 961: 0,
 962: 0,
 965: 0,
 970: 0,
 971: 1,
 973: 0,
 974: 2,
 976: 1,
 977: 1,
 978: 0,
 979: 1,
 980: 1,
 981: 1,
 1012: 1,
 1014: 0,
 1015: 0,
 1016: 0,
 1017: 0,
 1018: 0,
 1019: 0,
 1020: 0,
 1021: 2,
 1025: 1,
 1033: 1,
 1035: 1,
 1036: 0,
 1037: 1,
 1041: 0,
 1042: 1,
 1043: 0,
 1045: 0,
 1046: 2,
 1047: 1,
 1048: 1,
 1049: 0,
 1053: 0,
 1054: 1,
 1061: 0,
 1062: 0,
 1063: 2,
 1067: 2,
 1069: 0,
 1070: 0,
 1071: 0,
 1074: 1,
 1075: 0,
 1076: 1,
 1077: 1,
 1078: 1,
 1081: 1,
 1082: 1,
 1083: 0,
 1084: 1,
 1086: 1,
 1087: 1,
 1088: 1,
 1089: 0,
 1091: 1,
 1092: 0,
 1093: 1,
 1094: 2,
 1095: 1,
 1096: 1,
 1097: 1,
 1098: 1,
 1100: 1,
 1101: 2,
 1102: 1,
 1103: 1,
 1104: 1,
 1105: 2,
 1106: 2,
 1107: 2,
 1109: 1,
 1110: 1,
 1111: 1,
 1113: 1,
 1114: 1,
 1115: 1,
 1116: 0,
 1117: 0,
 1119: 1,
 1120: 1,
 1121: 1,
 1122: 1,
 1123: 1,
 1124: 1,
 1125: 1,
 1126: 0,
 1127: 1,
 1129: 1,
 1130: 2,
 1131: 2,
 1133: 1,
 1140: 1,
 1142: 1,
 1143: 0,
 1144: 0,
 1148: 1,
 1151: 1,
 1153: 1,
 1154: 2,
 1160: 1,
 1161: 1,
 1164: 1,
 1175: 0,
 1176: 0,
 1179: 1,
 1180: 1,
 1181: 0,
 1182: 1,
 1183: 1,
 1184: 0,
 1185: 1,
 1186: 1,
 1188: 1,
 1189: 1,
 1190: 1,
 1191: 1,
 1192: 1,
 1193: 0,
 1194: 1,
 1195: 2,
 1197: 2,
 1198: 0,
 1199: 0,
 1200: 1,
 1201: 1,
 1202: 0,
 1203: 1,
 1205: 0,
 1206: 0,
 1208: 0,
 1209: 1,
 1210: 2,
 1211: 1,
 1213: 0,
 1215: 0,
 1216: 0,
 1217: 1,
 1218: 1,
 1219: 2,
 1220: 1,
 1221: 1,
 1222: 1,
 1223: 2,
 1224: 1,
 1225: 0,
 1226: 0,
 1227: 1,
 1228: 1,
 1229: 1,
 1230: 1,
 1231: 1,
 1232: 0,
 1233: 1,
 1234: 0,
 1235: 2,
 1236: 0,
 1237: 1,
 1238: 1,
 1239: 0,
 1240: 0,
 1241: 1,
 1242: 1,
 1243: 1,
 1244: 0,
 1245: 2,
 1246: 0,
 1248: 0,
 1249: 1,
 1250: 0,
 1251: 1,
 1252: 0,
 1253: 1,
 1255: 0,
 1256: 0,
 1257: 0,
 1258: 0,
 1259: 2,
 1260: 0,
 1261: 1,
 1262: 1,
 1263: 1,
 1264: 0,
 1265: 1,
 1267: 1,
 1268: 1,
 1269: 1,
 1270: 0,
 1271: 1,
 1272: 0,
 1275: 0,
 1276: 1,
 1278: 2,
 1279: 0,
 1280: 0,
 1281: 1,
 1282: 1,
 1285: 1,
 1288: 0,
 1289: 2,
 1290: 1,
 1291: 1,
 1292: 1,
 1293: 1,
 1294: 1,
 1295: 0,
 1297: 1,
 1298: 1,
 1299: 0,
 1300: 0,
 1301: 0,
 1302: 2,
 1305: 1,
 1306: 1,
 1307: 1,
 1308: 1,
 1309: 1,
 1310: 1,
 1311: 1,
 1312: 1,
 1313: 1,
 1314: 1,
 1315: 1,
 1317: 1,
 1318: 0,
 1320: 0,
 1321: 1,
 1322: 1,
 1323: 0,
 1324: 1,
 1325: 1,
 1326: 1,
 1328: 1,
 1330: 0,
 1331: 1,
 1332: 1,
 1333: 0,
 1334: 1,
 1336: 0,
 1337: 0,
 1338: 1,
 1339: 0,
 1341: 1,
 1342: 0,
 1343: 1,
 1344: 1,
 1345: 1,
 1346: 0,
 1347: 1,
 1348: 2,
 1349: 0,
 1350: 1,
 1351: 0,
 1352: 1,
 1354: 0,
 1355: 1,
 1356: 1,
 1357: 1,
 1359: 2,
 1360: 2,
 1361: 2,
 1362: 0,
 1363: 0,
 1364: 0,
 1365: 0,
 1366: 1,
 1367: 1,
 1368: 2,
 1369: 1,
 1370: 2,
 1371: 2,
 1372: 1,
 1373: 2,
 1374: 0,
 1375: 1,
 1376: 1,
 1377: 1,
 1378: 1,
 1379: 1,
 1380: 1,
 1381: 1,
 1382: 1,
 1383: 2,
 1384: 1,
 1385: 2,
 1386: 1,
 1387: 2,
 1388: 1,
 1389: 1,
 1392: 1,
 1393: 1,
 1394: 1,
 1397: 1,
 1398: 1,
 1399: 0,
 1400: 1,
 1401: 1,
 1402: 1,
 1403: 0,
 1404: 1,
 1405: 1,
 1406: 1,
 1407: 1,
 1408: 1,
 1409: 1,
 1410: 1,
 1411: 0,
 1412: 1,
 1413: 2,
 1414: 2,
 1415: 2,
 1416: 0,
 1417: 2,
 1418: 0,
 1419: 1,
 1420: 1,
 1422: 2,
 1423: 1,
 1424: 1,
 1425: 1,
 1426: 1,
 1429: 2,
 1431: 1,
 1433: 1,
 1434: 0,
 1435: 1,
 1437: 1,
 1438: 1,
 1440: 2,
 1441: 0,
 1442: 2,
 1443: 2,
 1444: 2,
 1445: 1,
 1446: 1,
 1447: 1,
 1448: 0,
 1449: 2,
 1451: 2,
 1452: 1,
 1453: 1,
 1454: 1,
 1455: 1,
 1456: 1,
 1457: 1,
 1458: 0,
 1459: 1,
 1460: 1,
 1461: 1,
 1462: 1,
 1463: 1,
 1464: 2,
 1465: 1,
 1466: 1,
 1467: 1,
 1468: 1,
 1469: 1,
 1470: 1,
 1471: 1,
 1472: 1,
 1474: 1,
 1475: 1,
 1476: 1,
 1477: 1,
 1478: 1,
 1479: 1,
 1480: 0,
 1481: 1,
 1482: 1,
 1483: 1,
 1484: 1,
 1485: 1,
 1486: 0,
 1487: 1,
 1488: 1,
 1489: 1,
 1490: 0,
 1491: 0,
 1492: 1,
 1493: 2,
 1495: 1,
 1496: 2,
 1497: 0,
 1498: 1,
 1499: 1,
 1500: 1,
 1501: 1,
 1502: 2,
 1504: 1,
 1505: 1,
 1506: 0,
 1507: 1,
 1509: 0,
 1510: 0,
 1513: 1,
 1514: 2,
 1515: 1,
 1516: 0,
 1518: 0,
 1520: 0,
 1521: 0,
 1522: 1,
 1523: 1,
 1524: 1,
 1527: 0,
 1528: 0,
 1529: 0,
 1531: 0,
 1533: 1,
 1537: 1,
 1538: 2,
 1539: 0,
 1570: 0,
 1572: 1,
 1588: 0,
 1591: 1,
 1592: 2,
 1593: 0,
 1595: 1,
 1596: 0,
 1597: 1,
 1599: 1,
 1601: 0,
 1604: 1,
 1605: 1,
 1607: 0,
 1609: 2,
 1622: 0,
 1623: 1,
 1624: 0,
 1626: 1,
 1627: 1,
 1628: 1,
 1629: 1,
 1630: 1,
 1635: 1,
 1636: 0,
 1637: 1,
 1638: 1,
 1639: 0,
 1640: 0,
 1641: 0,
 1642: 0,
 1643: 0,
 1644: 0,
 1645: 1,
 1646: 1,
 1647: 1,
 1648: 1,
 1649: 1,
 1650: 0,
 1651: 1,
 1652: 0,
 1654: 0,
 ...}

In [19]:
labelled_articles_df = articles_df

In [20]:
labelled_articles_df['label'] = -1

In [21]:
labelled_articles_df

      article_id                                            article  label
0          60583  These Republicans are misleading voters about ...     -1
1         120801  They sued for Clinton's emails. Now they want ...     -1
2          66570  Heritage's Fun With 'Defund Obamacare' Polling...     -1
3         123469  Size of U.S. Unauthoriized Immigrant Workforce...     -1
4          13133  Border Crossing/Entry Data\n Hide Coverage, Av...     -1
...          ...                                                ...    ...
64969      93026  Florida legislators hope to fix nuclear advanc...     -1
64970       9904  A Chart Is Worth 1,000 Words\n Todd Harrison, ...     -1
64971      87442  Prison plan assailed as 'sneaky,' misleading\n...     -1
64972      59427  Updated: Do Russia probe attorneys’ donations ...     -1
64973     112967  Clinton Campaign Volunteer Out Over False Obam...     -1

[64974 rows x 3 columns]

In [22]:
for index, row in labelled_articles_df.iterrows():
    key = int(row['article_id'])
    if key in article_single_label:
       labelled_articles_df.at[index, 'label'] = article_single_label[key]

In [23]:
labelled_articles_df

      article_id                                            article  label
0          60583  These Republicans are misleading voters about ...      0
1         120801  They sued for Clinton's emails. Now they want ...      1
2          66570  Heritage's Fun With 'Defund Obamacare' Polling...      1
3         123469  Size of U.S. Unauthoriized Immigrant Workforce...      1
4          13133  Border Crossing/Entry Data\n Hide Coverage, Av...      1
...          ...                                                ...    ...
64969      93026  Florida legislators hope to fix nuclear advanc...      1
64970       9904  A Chart Is Worth 1,000 Words\n Todd Harrison, ...      1
64971      87442  Prison plan assailed as 'sneaky,' misleading\n...      0
64972      59427  Updated: Do Russia probe attorneys’ donations ...      0
64973     112967  Clinton Campaign Volunteer Out Over False Obam...      0

[64974 rows x 3 columns]

In [24]:
labelled_articles_df.head(20)

   article_id                                            article  label
0       60583  These Republicans are misleading voters about ...      0
1      120801  They sued for Clinton's emails. Now they want ...      1
2       66570  Heritage's Fun With 'Defund Obamacare' Polling...      1
3      123469  Size of U.S. Unauthoriized Immigrant Workforce...      1
4       13133  Border Crossing/Entry Data\n Hide Coverage, Av...      1
5       21607  Pelosi Floor Speech in Opposition to the Repub...      0
6      143474  Pittsburgh synagogue massacre leaves 11 dead, ...      1
7       60963  Trump team seeks to control, block Mueller’s R...      0
8       52862  House tax plan: Permanent tax cuts for the ric...      1
9       42133  Milwaukee County plans local treatment center ...      1
10     127660  Coach K: Obama Is a Bad Coach in the ISIS War\...      1
11     126085  FACT CHECK: Does the Red Cross Charge Disaster...      0
12      69314  Average individual health plans in Florida to ...      2
13     144805  US issues sanctions on 17 Saudis over Khashogg...      0
14      45315  NRC: In Situ Recovery Facilities\n In Situ Rec...      0
15      42261  Yes, Scott Walker is an 'education governor' f...      1
16      18486  FDIC: FIL-5-2015: Statement on Providing Banki...      1
17      69076  Johnny Depp Goes Into Cardiac Arrest During In...      0
18      34193  Actions - H.R.268 - 116th Congress (2019-2020)...     -1
19      66959  Huckabee: Obama deserves impeachment\n Former ...      1

In [25]:
print(article_single_label[60583])
print(article_single_label[120801])
print(article_single_label[66570])
print(article_single_label[123469])
print(article_single_label[69314])

0
1
1
1
2